
#image-transform,
#image-stand-out {
    width: 100vw;
}
section {
    padding: 12vmin 8vmin 6vmin;
    background-color: $off-white;
}

#section-transform,
#section-stand-out {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    h2 {
        justify-self: center;
    }
    p {
        align-self: center;
    }
}

%section-bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    // max-height: 70vmin;
}

#section-graphic-design {
    background-image: url('../../image/photos/image-graphic-design.jpg');
    @extend %section-bg-img;
    padding-top: 50vh;
    padding-bottom: 7vh;
    h2 {
        color: $dark-desaturated-cyan;
    }
    p {
        color: $dark-desaturated-cyan;
    }
}

#section-photography {
    background-image: url('../../image/photos/image-photography.jpg');
    @extend %section-bg-img;
    padding-top: 50vh;
    padding-bottom: 7vh;
    h2 {
        color: $dark-blue;
    }
    p {
        color: $dark-blue;
    }
}

#section-client-testimonials {
    padding-bottom: 15vmin;

    h2 {
        color: $grayish-blue;
        text-transform: uppercase;
        width: 100%;
        // font-size: .9rem;
        // font-size: 4vmin;
        font-size: clamp(.8rem, 3.5vmin, 3rem);
        letter-spacing: 1vmin;
        padding-bottom: 2vmax;
    }

    .people {
        display: flex;
        flex-direction: column;
        padding: 5vmax 0 8vmin;


        img {
            align-self: center;
            // min-height: 15vmin;   
            max-width: 20vmin;   
            border-radius: 50%;
        }

        & > p {
            padding: 8vmin 0;
            color: $very-dark-grayish-blue;
        }

        div > p {
            margin: 0;
            padding: 0;
        }

        div > p:first-child {
            color: $very-dark-desaturated-blue;
            font-family: 'Fraunces', serif;
            padding-bottom: 1vmin;
        }

        div > p:last-child {
            color: $grayish-blue;
        }
    }
}

#section-gallery {
    
    div  {
        display: flex;
        
        img {
            border-collapse: collapse;
            margin: 0;
            max-width: 50vw;
        }
    }
}


@media only screen and (min-width: 1400px) {

    #section-about {
        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: repeat(3, 600px);
        grid-template-areas: 
            "section-transform img-transform"
            "img-stand-out section-stand-out"
            "section-graphic-design section-photography";
        
        #image-transform {
            grid-area: img-transform;
            width: 50vw;
        }
        #section-transform {
            grid-area: section-transform;
            height: 600px;
            // align-self: center;
            padding: 12vmin 12vmin;
            
            h2 {
                font-size: 3vw;
                width: 100%;
                text-align: left;
                margin: 0;
                justify-self: left;
            }
            p {
                align-self: center;
                text-align: left;
            }
        }
        #image-stand-out {
            grid-area: img-stand-out;
            width: 50vw;
        }
        #section-stand-out {
            grid-area: section-stand-out;
            height: 600px;
            padding: 12vmin 12vmin;
            
            h2 {
                font-size: 3vw;
                text-align: left;
                width: 100%;
                margin: 0;
                justify-self: left;
            }
            p {
                align-self: center;
                text-align: left;
            }
        }
        #section-graphic-design {
            grid-area: section-graphic-design;
            padding-top: 47vh;
            h2 {
                font-size: 2rem;
            }
            p {
                font-size: 1.1rem;
                max-width: 25vw;
                margin: 0 auto;
            }
        }
        #section-photography {
            grid-area: section-photography;
            padding-top: 47vh;
            h2 {
                font-size: 2rem;
            }
            p {
                font-size: 1.1rem;
                max-width: 25vw;
                margin: 0 auto;
            }
        }
    }


    #section-client-testimonials {
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: 100vh;

        h2 {
            font-size: 3vmin;
        }

        #people-group {
            display: flex;
            max-height: 57vh;
            max-width: 77vw;
            margin: 0 auto;
        }

        .people {
            max-height: 57vh;
            // overflow: hidden;
            // background-color: red;
        }

        .people img {
            max-width: 10vmin;
        }

        .people p {
            font-size: 1.1rem;
            margin: 1vw;
        }

    }

}