
header {
    background-image: url('/image/photos/image-header.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    
    display: grid;
    grid-template-rows: 1fr 2fr 4fr;

    min-height: 70vmax;
    
    div {
        display: grid;
        grid-template-columns: 1fr 1fr;

        img {
            align-self: center;
        }

        & > img {
            justify-self: flex-start;
            margin: $logo-margin;
        }
        a {
            justify-self: flex-end;
            align-self: center;
        }
        a img {
            // display: none;
            justify-self: flex-end;
            margin: $logo-margin;
        }

        
        nav {
            display: flex;
            flex-direction: column;
            justify-self: center;

            width: 80vmin;
            position: fixed;
            z-index: 1;
            top: 30vmin;
            right: 10vmin;
            background-color: $white;
            transition: right 0.5s ease;

            .triangle {
                position: fixed;
                z-index: 1;
                top: 20vmin;
                right: 10vmin;
                width: 0;
                height: 0;
                border-left: 15vmin solid transparent; 
                border-top: 15vmin solid transparent;
                border-right: 15vmin solid $white;
                transition: right 0.5s ease;
            }

            ul {
                align-self: center;                
            }

            ul li {
                display: flex;
                justify-content: center;
                list-style-type: none;
                margin: 6vmin 0;
                width: 8.75rem;
                height: 3.5rem;
                cursor: pointer;
            }
            ul li a {
                color: $very-dark-grayish-blue;
                text-decoration: none;
                font-size: 6vmin;
            }
            li:hover {
                width: 8.75rem;
                height: 3.5rem;
                background-color: $yellow;
                border-radius: 30px;
            }
            li:last-of-type {
                width: 8.75rem;
                height: 3.5rem;
                background-color: $yellow;
                border-radius: 30px;
            }
            li:last-of-type a {
                color: $very-dark-desaturated-blue;
                text-transform: uppercase;
                font-family: 'Fraunces', serif;
                font-size: 4vmin;
                font-weight: 600;
            }

            &.inactive {
                // display: none;
                right: -80vmin;
                transition: right 0.5s ease;
            }

            &.inactive .triangle {
                right: -80vmin;
            }
        }

    }

    
    h1 {
        text-transform: uppercase;
        text-align: center;
        color: $white;
        // font-size: calc(20px + 5vw);
        // font-size : clamp(1rem, 10vw, 5rem);
        font-size: 10vmin;
        font-weight: 800;
        letter-spacing: 1.5vmin;
        align-self: center;
    }

    img {
        justify-self: center;
    }
}




@media only screen and (min-width: 1400px) {
    header {
        height: 800px;
        min-width: 1400px;
        max-width: 100vw;

        grid-template-rows: 2fr 7fr 10fr;
        
        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            width: 96%;

            // img:nth-child(1) {
            //     scale: 2;
            // }
            // img:nth-child(2) {
            //     display: none;
            // }
    
            img {
                scale: 2;
            }
            a img {
                display: none;
            }

            nav {
                display: block;

                ul {
                    display: flex;
                }

                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 8.75rem;
                    height: 3.5rem;

                    list-style-type: none;
                    margin: 0 1vmin;
                    cursor: pointer;
                }

                a {
                    color: $white;
                    font-size: 1.125rem;
                    text-decoration: none;
                }

                li:last-of-type {
                    background-color: $white;
                    width: 8.75rem;
                    height: 3.5rem;
                    border-radius: 30px;
                    transition: background-color .2s ease;
                }
                li:hover {
                    background-color: #ffffff71;
                    width: 8.75rem;
                    height: 3.5rem;
                    border-radius: 30px;
                    transition: background-color .2s ease;
                }
                li:last-of-type a {
                    text-transform: uppercase;
                    color: $very-dark-desaturated-blue;
                    font-size: 1rem;
                    font-family: 'Fraunces', serif;
                    font-weight: 600;
                    transition: color .2s ease;
                }
                li:hover a {
                    color: $white;
                    transition: color .2s ease;
                }
            }
        }

        h1 {
            font-size: 8vmin;
        }

        img {
            scale: 1.2;
        }
    }
}